*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
body{
    font-family: "Mulish", sans-serif;   
}
.header-margin{
  /* background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 33%, rgba(186,186,186,1) 76%);  */
}

/* navigation bar */
nav {
  isolation: isolate;
  width: 100%;

}
.navbar{
  display: flex;
  justify-content: space-evenly;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
.logo{
  font-size: 24px;
  font-weight: 800;
  margin-right: 180px;
}
.logo a{
  color: #0f172a;
  text-decoration: none;
}
.links-list{
  display: flex;
  align-items: center;
}
.links-list ul{
  display: flex;
  gap: 25px;
  list-style: none;
}
.links-list ul li{
  font-size: 16px;
  font-weight: 700;
}
.links-list ul li a{
  text-decoration: none;
  color: #0f172a;
}
.nav-btns{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-btn1{
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 24px;
  border-radius: 5px;
}
.nav-btn1 a{
  color: #0f172a;
  text-decoration: none;
  font-size: 16px;
}
.nav-btn2{
  background-color: #474fa0;
  padding: 12px 24px;
  border-radius: 5px;
}
.nav-btn2 a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}
/* header buttom */
.header-buttom{
  display: flex;
  margin-left: 180px;
  display: flex;
  gap: 20px;
}
.top-left-header-buttom h1{
  font-size: 44px;
  color: #0f172a;
  line-height: 50px;
  margin-bottom: 2rem;
}
.buttom-left-header-buttom img{
  max-width: 125px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.left-header-buttom{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 470px;
  margin-top: 110px;
}
.top-left-header-buttom p{
  color: #0f172a;
  font-weight: 500;
  line-height: 1.75rem;
}
.buttom-left-header-buttom{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.car-background{
  position: absolute;
  background-color: #fe5b3e;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  margin-left: 100px;
  z-index: -1;
  
}
.right-header-buttom img{
  z-index: 1;
  position: relative;
  max-width: 78%;
  top: 50px;
}

/* section 2 */
.section2-header h3{
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #475569;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}
.section2{
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 220px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  height: 500px;
} 
.section2-header h1{
  font-size: 2.5rem;
  font-weight: 800;
  color: #0f172a;
}
.section2-content{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin-left: 60px;
}
.section2-content .section2-content1 i{
  font-size: 1.75rem;
  margin-bottom: 2rem;
  padding: 10px 17px;
  color: #fe5b3e;
  background-color: #f2f2f2;
  border: 4px solid #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
}
.section2-content .section2-content2 i{
  font-size: 1.75rem;
  margin-bottom: 2rem;
  padding: 10px 17px;
  color: #fe5b3e;
  background-color: #f2f2f2;
  border: 4px solid #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
}
.section2-content .section2-content3 i{
  font-size: 1.75rem;
  margin-bottom: 2rem;
  padding: 10px 17px;
  color: #fe5b3e;
  background-color: #f2f2f2;
  border: 4px solid #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
}
.section2-content .section2-content1 i:hover{
  color: white;
  background-color: #fe5b3e;
}
.section2-content .section2-content2 i:hover{
  color: white;
  background-color: #fe5b3e;
}
.section2-content .section2-content3 i:hover{
  color: white;
  background-color: #fe5b3e;
}
.section2-content1 h4{
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 800;
  color: #475569;
  margin-left: 50px;
}
.section2-content1 p{
  color: #475569;
  line-height: 1.75rem;
  text-align: center;
}
.section2-content2 h4{
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 800;
  color: #475569;
  margin-left: 70px;
}
.section2-content2 p{
  color: #475569;
  line-height: 1.75rem;
  text-align: center;
}
.section2-content3 h4{
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 800;
  color: #475569;
  margin-left: 70px;
}
.section2-content3 p{
  color: #475569;
  line-height: 1.75rem;
  text-align: center;
}

/* section 3 */
.section3{
  margin-left: 180px;
  margin-right: 180px;
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  gap: 10px;
  margin-bottom: 100px;
}
.section3 img{
  width: 50%;
  margin-top: 50px;
}
/* .section3-content{
  margin-left: 50px;
} */
.section3-content-header h4{
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #475569;
  letter-spacing: 1px;
}
.section3-content-header h2{
  font-size: 2.5rem;
  font-weight: 800;
  color: #0f172a;
  margin-bottom: 1.5rem;
}
.section3-content-buttom1{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}
.section3-content-buttom2{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}
.section3-content-buttom3{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}
.section3-content-buttom1-content h4{
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #0f172a;
}
.section3-content-buttom2-content h4{
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #0f172a;
}
.section3-content-buttom3-content h4{
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #0f172a;
}
.section3-content-buttom1-content p{
  color: #475569;
  line-height: 1.75rem;
}
.section3-content-buttom2-content p{
  color: #475569;
  line-height: 1.75rem;
}
.section3-content-buttom3-content p{
  color: #475569;
  line-height: 1.75rem;
}
.section3-content-buttom1-icon i{
  padding: 12px 15px;
  color: #fe5b3e;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  border: 4px solid #ffffff;
}
.section3-content-buttom2-icon i{
  padding: 12px 15px;
  color: #fe5b3e;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  border: 4px solid #ffffff;
}
.section3-content-buttom3-icon i{
  padding: 12px 15px;
  color: #fe5b3e;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  border: 4px solid #ffffff;
}

/* Section 4 */
.section4{
  margin-top: 150px;
  margin-left: 180px;
  margin-right: 180px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 100px;
}
.section4-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
.section4-header p{
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #475569;
  letter-spacing: 1px;
}
.section4-header h2{
  font-size: 2.5rem;
  font-weight: 800;
  color: #0f172a;
  text-align: center;
}
.section4-content{
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}
.section4-content2 img{
  width: 300px;
}
.section4-content1-icon1 i{
  margin-bottom: 0.5rem;
  padding: 10px 13px;
  font-size: 1.5rem;
  color: #fe5b3e;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 4px solid #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.section4-content1-icon2 i{
  margin-bottom: 0.5rem;
  padding: 10px 13px;
  font-size: 1.5rem;
  color: #fe5b3e;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 4px solid #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.section4-content1-icon3 i{
  margin-bottom: 0.5rem;
  padding: 10px 13px;
  font-size: 1.5rem;
  color: #fe5b3e;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 4px solid #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.section4-content1-icon1 h4{
  font-size: 1rem;
  font-weight: 700;
  color: #0f172a; 
}
.section4-content1-icon2 h4{
  font-size: 1rem;
  font-weight: 700;
  color: #0f172a; 
}
.section4-content1-icon3 h4{
  font-size: 1rem;
  font-weight: 700;
  color: #0f172a; 
}
.section4-content3-icon1 i{
  margin-bottom: 0.5rem;
  padding: 10px 13px;
  font-size: 1.5rem;
  color: #fe5b3e;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 4px solid #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.section4-content3-icon2 i{
  margin-bottom: 0.5rem;
  padding: 10px 13px;
  font-size: 1.5rem;
  color: #fe5b3e;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 4px solid #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.section4-content3-icon3 i{
  margin-bottom: 0.5rem;
  padding: 10px 13px;
  font-size: 1.5rem;
  color: #fe5b3e;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 4px solid #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.section4-content3-icon1 h4{
  font-size: 1rem;
  font-weight: 700;
  color: #0f172a;
}
.section4-content3-icon2 h4{
  font-size: 1rem;
  font-weight: 700;
  color: #0f172a;
}
.section4-content3-icon3 h4{
  font-size: 1rem;
  font-weight: 700;
  color: #0f172a;
}
.section4-content1-icon1{
  margin-top: 5rem;
  width: 200px;
  margin-left: 50px;
}
.section4-content1-icon2{
  margin-top: 5rem;
  width: 200px;
}
.section4-content1-icon3{
  margin-top: 5rem;
  width: 200px;
  margin-left: 50px;
}
.section4-content3-icon1{
  margin-top: 5rem;
  width: 200px;
}
.section4-content3-icon2{
  margin-top: 5rem;
  width: 200px;
  margin-left: 50px;
}
.section4-content3-icon3{
  margin-top: 5rem;
  width: 200px;
}
.section4-content1{
  width: 300px;
}
.section4-content3{
  margin-left: 120px;
}
/* Section5 */
.section5{
  margin-left: 180px;
  margin-right: 180px;
  /* margin-bottom: 100px; */
  margin-top: 225px;
  position: relative;
}
.section5-background{
  position: absolute;
  z-index: -1;
  padding: 12.5rem 1rem;
  border-radius: 1rem;
  background: linear-gradient(to bottom, #fe5c3c, #fc8023);
  /* margin-top: 230px; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section5-content{
  position: relative;
  z-index: 1;
  display: flex;
  gap: 6.5rem;
}
.section5-content-left-header h2{
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  padding-top: 5rem;
}
.section5-content-left-header p{
  margin-bottom: 2rem;
  color: #f2f2f2;
  line-height: 1.75rem;
}
.section5-content-left{
  margin-left: 2rem;
  width: 570px;
}
.section4-content-left-links{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.section4-content-left-links img{
  width: 125px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
/* ..section5-content-right{
  position: relative;
} */
.section5-content-right img{
  position: absolute;
  transform: translateY(-50%);
  width: 25%;
  top: 200px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #475569 ;  
  border-radius: 40px;
}
 

/* Footer */
.footer-container{
  margin-top: 300px;
  margin-left: 180px;
  margin-right: 350px;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.footer-content1{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
  /* justify-content: flex-start; */
  /* width: 150px; */
}
.footer-content2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content3{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content4{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
.links-list a{
  text-decoration: none;
  font-weight: 600;
  color: #475569;
  transition: 0.3s;
}
.links-list a:hover{
  color: #fe5b3e;
}
.footer-h4{
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #0f172a;
}
.bottom-bar{
  height: 100px;
  margin-left: 180px;
  margin-right: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-bar h4{
  font-size: 1.5rem;
  font-weight: 700;
  color: #0f172a;
}
.bottom-bar p{
  font-weight: 500;
  color: #475569;
  /* text-align: center; */
}
.footer-icons ul{
  display: flex;
  gap: 1rem;
  list-style: none;
}
.footer-icons ul li{

}
.footer-icons ul li a{
  text-decoration: none;
  font-size: 1rem;
  color: #0f172a;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 8px 10px;
  transition: 0.3s;
}
.footer-icons ul li a:hover{
  color: #ffffff;
  background-color: #fe5b3e;
}
.bottom-bar span{
  font-weight: 800;
}

/* Media query */
/* @media (min-width: 300px) and (max-width: 900px) {} */